.btn-primary{
    padding: 10px 25px;
    background-color: $pri;
    border-color: $pri;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: none !important;
    &:hover, &:focus, &:active, &:disabled{
        background-color: lighten($pri, 10%) !important;
        border-color: lighten($pri, 10%) !important;
        outline: none !important;
    }
}

.btn-secondary{
    border: none;
    background-color: $ter;
    padding: 13px 20px;
    border-radius: 8px;
    color: $wt;
    font-weight: 600;
}

.btn-danger{
    border: none;
    background-color: #E64242;
    padding: 13px 20px;
    border-radius: 8px;
    color: $wt;
    font-weight: 600;
}

.btn-warning{
    border: none;
    background-color: #E29E3A;
    padding: 13px 20px;
    border-radius: 8px;
    color: $wt;
    font-weight: 600;
}
