.filter-search{
    margin: 30px 0 40px 0;
    .filter{
        float: left;
        font-size: 14px;
        font-weight: bold;
        color: $t;
        img{
            margin-left: 15px;
        }
    }
    .search{
        float: right;
    }
    &:after{
        content: "";
        display: table;
        clear: both;
    }
}

.anggota-title{
    font-size: 33px;
    margin-bottom: 30px;
    float: left;
    @media screen and (max-width: 991px){
        font-size: 18px;
        margin-bottom: 5px;
        float: none;
        width: 100%;
        position: relative;
    }
    span{
        @media screen and (max-width: 991px){
            position: relative;
            z-index: 2;
            display: inline-block;
            padding-right: 15px;
            background-color: $wt;
        }
    }
    &:before{
        content: "";
        height: 1px;
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: #E0E0E0;
        opacity: 0;
        @media screen and (max-width: 991px){
            opacity: 1;
        }
    }
}

.count-siswa{
    font-size: 16px;
    font-weight: bold;
    float: right;
    margin: 12px 0 0 15px;
    @media screen and (max-width: 991px){
        display: none;
    }
}

.sort{
    float: right;
    padding: 10px 11px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    @media screen and (max-width: 991px){
        display: none;
    }
}

.anggota-list{
    clear: both;
    padding: 0;
    margin-bottom: 35px;
    @media screen and (max-width: 991px){
        margin-bottom: 15px;
    }
    li{
        list-style: none;
        .anggota-item{
            display: block;
            padding: 20px 36px;
            background-color: $wt;
            border-radius: 15px;
            margin-bottom: 6px;
            @media screen and (max-width: 991px){
                padding: 15px 0;
                border-radius: 0;
                margin-bottom: 0;
            }
            .image{
                border-radius: 50%;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                width: 45px;
                height: 45px;
                border: 1px solid #E0E0E0;
                display: inline-block;
                vertical-align: middle;
                margin-right: 25px;
                @media screen and (max-width: 991px){
                    margin-right: 15px;
                }
            }
            h6{
                display: inline-block;
                vertical-align: middle;
                margin: 0;
                font-size: 16px;
                font-weight: bold;
            }
        }
        & + li{
            .anggota-item{
                // border-top: 1px solid #E0E0E0;
            }
        }
    }
}