.head-kelas-panel{
    padding: 45px 61px 71px 61px;
    border-radius: 15px;
    position: relative;
    margin-bottom: 15px;
    background-image: linear-gradient(to bottom, #5B79A2, #2E4469);
    .subject{
        margin: 0;
        font-size: 40px;
        font-weight: bold;
        color: $wt;
    }
    .kelas{
        margin-bottom: 40px;
        font-size: 24px;
        color: $wt;
    }
    .profile-image{
        position: relative;
        padding-left: 65px;
        .image{
            border-radius: 50%;
            background-size: cover;
            background-position: center center;
            width: 46px;
            height: 46px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        .name{
            font-size: 24px;
            font-weight: bold;
            margin: 0;
            color: $wt;
        }
        .title{
            font-size: 16px;
            color: $wt;
            display: inline-block;
        }
    }
    .illu{
        position: absolute;
        width: 200px;
        top: 50%;
        right: 61px;
        transform: translateY(-50%);
    }
}

.soon-tugas{
    border: 1px solid #E0E0E0;
    border-radius: 15px;
    padding: 30px 20px;
    background-color: $wt;
    &:after{
        content: "";
        clear: both;
        display: table;
    }
    h5{
        color: #2179C4;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 24px;
    }
    .schedule-item{
        .schedule-head{
            display: block;
            font-size: 12px;
            font-weight: medium;
            color: #707070;
            margin-bottom: 5px;
            font-weight: bold;
        }
        ul{
            padding: 0;
            margin: 0 0 10px 0;
            li{
                list-style: none;
                color: #707070;
                font-size: 14px;
                margin-bottom: 5px;
            }
        }
    }
    a{
        margin-left: auto;
        color: #2179C4;
        font-size: 15px;
        float: right;
        margin-top: 10px;
    }
}

.me-comment{
    border: 1px solid #E0E0E0;
    border-radius: 15px;
    padding: 15px 41px 15px 85px;
    background-color: $wt;
    position: relative;
    margin-bottom: 15px;
    .image{
        border-radius: 50%;
        background-size: cover;
        background-position: center center;
        width: 46px;
        height: 46px;
        position: absolute;
        top: 50%;
        left: 40px;
        transform: translateY(-50%);
    }
    .form-control{
        border: none;
        font-size: 15px;
        color: $t;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #E0E0E0;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: #E0E0E0;
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color: #E0E0E0;
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: #E0E0E0;
        }
        &:hover, &:focus{
            outline: none;
            box-shadow: none;
        }
    }
}

.comment-list{
    border-radius: 15px;
    border: 1px solid #E0E0E0;
    background-color: #FFF;
    .comment-item{
        padding: 28px 41px 28px 120px;
        position: relative;
        .image{
            border-radius: 50%;
            background-size: cover;
            background-position: center center;
            width: 54px;
            height: 54px;
            position: absolute;
            top: 28px;
            left: 40px;
        }
        .name{
            font-size: 20px;
            margin: 0;
            color: $t;
        }
        .title{
            font-size: 14px;
            margin-bottom: 14px;
            color: $t;
        }
        .content{
            max-height: 55px;
            overflow: hidden;
            p{
                font-size: 16px;
                line-height: 1.7;
            }
            &.showed{
                max-height: none;
            }
        }
        .more{
            margin-top: 15px;
            float: right;
            &:hover, &:focus{
                text-decoration: none;
            }
        }
        &:after{
            content: "";
            display: table;
            clear: both;
        }
        & + .comment-item{
            border-top: 1px solid #E0E0E0;
        }
    }
    .me-comment{
        border: none;
        border-top: 1px solid #E0E0E0;
        border-radius: 15px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        padding: 28px 41px 28px 100px;
        background-color: $wt;
        position: relative;
        .image{
            border-radius: 50%;
            background-size: cover;
            background-position: center center;
            width: 40px;
            height: 40px;
            position: absolute;
            top: 50%;
            left: 40px;
            transform: translateY(-50%);
        }
        .input-group{
            position: relative;
            .form-control{
                border: none;
                font-size: 15px;
                color: $t;
                border: 1px solid #E0E0E0;
                border-radius: 30px;
                padding-left: 25px;
                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: #E0E0E0;
                }
                &::-moz-placeholder { /* Firefox 19+ */
                    color: #E0E0E0;
                }
                &:-ms-input-placeholder { /* IE 10+ */
                    color: #E0E0E0;
                }
                &:-moz-placeholder { /* Firefox 18- */
                    color: #E0E0E0;
                }
                &:hover, &:focus{
                    outline: none;
                    box-shadow: none;
                }
            }
            .btn-info{
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
                width: 30px;
                height: 30px;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                padding: 0;
                border: none;
                background-image: linear-gradient(to bottom, #5B79A2, #2E4469);
                img{
                    margin-left: 3px;
                    margin-top: -2px;
                }
            }
        }
    }
}