.login-wrap{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: #FAFAFA;
    @media screen and (max-width: 991px){
        background-color: $wt;
    }
    .login-sect{
        width: 1300px;
        background-color: $wt;
        border-radius: 15px;
        @media screen and (max-width: 1199px){
            width: 900px;
        }
        @media screen and (max-width: 991px){
            width: 40%;
            border-radius: 0px;
            background-color: transparent;
        }
        @media screen and (max-width: 640px){
            width: 70%;
        }
        .login-hero{
            padding: 70px 40px;
            position: relative;
            @media screen and (max-width: 1199px){
                padding: 40px;
            }
            @media screen and (max-width: 991px){
                padding: 0px;
                border-bottom: 1px solid #F4F4F4;
            }
            .logo{
                margin-bottom: 40px;
                position: relative;
                z-index: 2;
                @media screen and (max-width: 991px){
                    margin-bottom: 20px;
                }
            }
            h3{
                font-size: 37px;
                font-weight: bold;
                color: $t;
                margin-bottom: 150px;
                position: relative;
                z-index: 2;
                @media screen and (max-width: 1199px){
                    font-size: 32px;
                }
                @media screen and (max-width: 991px){
                    display: none;
                }
            }
            .view-demo{
                padding: 11px 25px 11px 14px;
                background-color: #FAFAFA;
                border-radius: 47px;
                display: inline-block;
                position: relative;
                z-index: 2;
                transition: all 0.3s ease;
                @media screen and (max-width: 991px){
                    display: none;
                }
                .icon{
                    background-color: $pri;
                    border-radius: 50%;
                    width: 46px;
                    height: 46px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    vertical-align: middle;
                    margin-right: 15px;
                    img{
                        margin-left: 5px;
                    }
                }
                h6{
                    margin: 0;
                    font-size: 16px;
                    font-weight: bold;
                    color: $t;
                    display: inline-block;
                    vertical-align: middle;
                    transition: all 0.3s ease;
                }
                &:hover, &:focus{
                    text-decoration: none;
                    background-color: $pri;
                    h6{
                        color: $wt;
                    }
                }
            }
            .img-hero{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -30px;
                width: 500px;
                z-index: 1;
                @media screen and (max-width: 1199px){
                    width: 350px;
                }
                @media screen and (max-width: 991px){
                    display: none;
                }
            }
        }
        .login-form{
            padding: 70px 50px 50px 50px;
            background-color: #2E2E2E;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            height: 100%;
            @media screen and (max-width: 1199px){
                padding: 40px 30px 40px 30px;
            }
            @media screen and (max-width: 991px){
                padding: 15px 0px;
                background-color: transparent;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }
            h3{
                font-size: 24px;
                margin: 0px 0 15px 0;
                color: $wt;
                font-weight: bold;
                @media screen and (max-width: 1199px){
                    font-size: 20px;
                }
                @media screen and (max-width: 991px){
                    font-size: 30px;
                    margin: 0 0 3px 0;
                    color: $t;
                }
            }
            h6{
                margin: 0 0 30px 0;
                font-size: 16px;
                color: $wt;
                @media screen and (max-width: 1199px){
                    font-size: 14px;
                    margin: 0 0 20px 0;
                }
                @media screen and (max-width: 991px){
                    font-size: 15px;
                    color: $t;
                }
            }
            .form-wrap{
                position: relative;
                display: block;
                .icon{
                    position: absolute;
                    left: 25px;
                    top: 20px;
                    pointer-events: none;
                    z-index: 2;
                    &.pw{
                        left: 29px;
                        top: 18px;
                    }
                }
                input.form-control{
                    padding: 16px 25px 16px 60px;
                    border-radius: 47px;
                    background-color: #FAFAFA !important;
                    font-size: 16px;
                    color: $t;
                    @media screen and (max-width: 991px){
                        background-color: #FAFAFA;
                        border-color: #FAFAFA;
                    }
                    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                        color: #E0E0E0;
                    }
                    &::-moz-placeholder { /* Firefox 19+ */
                        color: #E0E0E0;
                    }
                    &:-ms-input-placeholder { /* IE 10+ */
                        color: #E0E0E0;
                    }
                    &:-moz-placeholder { /* Firefox 18- */
                        color: #E0E0E0;
                    }
                    &:-webkit-autofill,
                    &:-webkit-autofill:hover, 
                    &:-webkit-autofill:focus, 
                    &:-webkit-autofill:active  {
                        -webkit-box-shadow: 0 0 0 30px #FAFAFA inset !important;
                    }
                    &:-webkit-autofill {
                        -webkit-text-fill-color: $t !important;
                    }
                    &:focus{
                        border-color: $wt;
                    }
                }
            }
            .button-wrap{
                position: relative;
                @media screen and (max-width: 425px){
                    text-align: center;
                }
                .load{
                    position: absolute;
                    top: 5px;
                    right: 20px;
                }
                .btn{
                    width: 100%;
                    border-radius: 47px;
                    padding: 16px 20px;
                    text-align: center;
                    font-size: 16px;
                    font-weight: bold;
                    @media screen and (max-width: 425px){
                        width: 100%;
                        float: none;
                    }
                }
            }
            .forgot-password{
                margin: 0 auto;
                color: $t;
                margin-top: 20px;
                text-align: center;
                display: none;
                transition: all 0.3s ease;
                &:hover, &:focus{
                    text-decoration: none;
                    color: $pri;
                }
                @media screen and (max-width: 991px){
                    display: inline-block;
                }
            }
            .powered{
                text-align: center;
                margin-top: 65px;
                @media screen and (max-width: 1199px){
                    margin-top: 20px;
                }
                @media screen and (max-width: 991px){
                    margin-top: 20px;
                }
                span{
                    display: block;
                    color: $wt;
                    margin-bottom: 5px;
                    font-size: 11px;
                }
            }
        }
    }
}