.periode{
    width: 180px;
    position: absolute;
    display: inline-block;
    left: 15px;
    top: 35px;
    z-index: 999;
    label{
        font-weight: normal;
        margin-bottom: 0;
        color: #A09C9C;
    }
    .mx-datepicker{
        width: 100%;
        input{
            border: none;
            padding: 0;
            box-shadow: none;
            font-weight: 600;
        }
    }
}

.table-nilai{
    margin: 0;
    thead{
        tr{
            th{
                border-top: none;
                padding: 20px 10px !important;
                box-shadow: none !important;
                h6{
                    font-size: 14px;
                    font-weight: bold;
                    margin-bottom: 5px;
                    color: #403F3F;
                }
                span{
                    display: block;
                    font-weight: normal;
                    color: #A09C9C;
                    font-size: 13px;
                }
                &:first-child{
                    position: sticky;
                    left: 0;
                    z-index: 99 !important;
                    background-color: #FFF;
                }
                &:nth-child(2){
                    position: sticky;
                    left: 30px;
                    z-index: 99 !important;
                    background-color: #FFF;
                }
            }
        }
    }
    tbody{
        tr{
            box-shadow: none !important;
            td{
                padding: 10px 10px;
                text-align: center;
                vertical-align: middle;
                font-size: 20px;
                font-weight: bold;
                background-color: #FAFAFA;
                min-width: 150px;
                height: 40px !important;
                border-top: 1px solid #E0E0E0;
                border-bottom: none !important;
                box-shadow: none !important;
                .nilai-detail-link{
                    color: $t;
                    display: block;
                    transition: all 0.3s ease;
                    &:hover, &:focus{
                        color: $ter;
                        text-decoration: none;
                    }
                }
                .image-siswa{
                    display: block;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: #1E64AD;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    &.rate{
                        background-size: auto;
                    }
                }

                &:first-child{
                    padding: 10px 0px !important;
                    background-color: $wt;
                    min-width: 30px;
                    border-top: none;
                    position: sticky;
                    left: 0;
                }
                &:nth-child(2){
                    min-width: 190px;
                    font-size: 16px;
                    font-weight: normal;
                    text-align: left;
                    background-color: $wt;
                    border-top: none;
                    border-right: 1px solid #E0E0E0;
                    position: sticky;
                    left: 30px;
                }
                &:last-child{
                    border-right: 1px solid #E0E0E0;
                }
            }
            &:last-child{
                td{
                    border-bottom: 1px solid #E0E0E0 !important; 
                    &:first-child, &:nth-child(2){
                        border-bottom: none !important;
                    }
                }
            }
        }
    }
    .v-data-table__wrapper{
        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }
        &::-webkit-scrollbar-track {
            background-color: #E0E0E0;
            border-radius: 5px;
        }
        &::-webkit-scrollbar-thumb {
            width: 6px;
            height: 6px;
            background-color:#2E2E2E;
            border-radius: 5px;
            background-clip: padding-box;
        }
    }
}

.detail-nilai{
    background-color: $wt;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    .head-detail-nilai{
        padding: 30px 60px;
        .back-link{
            color: $t;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 15px;
            display: inline-block;
            img{
                width: 20px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
            }
            &:hover, &:focus{
                text-decoration: none;
            }
        }
        .avatar{
            display: block;
            .image{
                width: 57px;
                height: 57px;
                border-radius: 50%;
                margin-right: 16px;
                display: inline-block;
                vertical-align: middle;
                background-size: cover;
                background-position: center center;
            }
            h5{
                font-size: 24px;
                color: $t;
                display: inline-block;
                vertical-align: middle;
                margin: 0;
            }
        }
    }
    .tabs{
        .nav-tabs{
            padding: 0 60px;
            border-bottom: 1px solid #E0E0E0;
            .nav-item{
                .nav-link{
                    font-size: 16px;
                    font-weight: 600;
                    color: #A09C9C;
                    background-color: transparent;
                    padding: 0 15px 20px 15px;
                    border: none;
                    position: relative;
                    transition: all 0.3s ease;
                    &:after{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        border-radius: 15px;
                        height: 6px;
                        background-color: $ter;
                        opacity: 0;
                        transition: all 0.3s ease;
                    }
                    &.active{
                        color: $t;
                        &:after{
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .tab-content{
            .tab-pane{
                padding: 30px 60px;
                .table-detail-nilai{
                    tr{
                        td{
                            padding: 15px 0;
                        }
                    }
                }
            }
        }
    }
}