body{
    font-family: "Open Sans", sans-serif;
    color: #000;
    background-color: #FAFAFA;
}
  
/* helpers */
@import "helpers/variable.scss";
@import "helpers/button.scss";
@import "helpers/input.scss";
@import "helpers/component.scss";

/* layout */
@import "layout/header.scss";
@import "layout/footer.scss";
@import "layout/sidebar.scss";

/* per page */
@import "pages/login.scss";
@import "pages/dashboard.scss";